@charset "UTF-8";

body {
	background: url(images/background_1.png);
	/*background-repeat: no-repeat;
	background-position: top;
	background-color: #FF6600;*/
}


/*-------------------------------------HEADER-----------------------------------*/



#header {
	background-color: rgba(32,42,45,0.8);
	color: rgb(230,227,187);
	width: 80%;
	margin-left: 10%;
	border-radius: 0 0 5px 5px;
	font-size: 120%;
	/*height: 15%;*/
	display:inline-block;
	position:relative;

}

#bld {
	font-size: 150%;
	position: relative;
	/*margin-top: 1%;*/
	margin-left: 2%;
	color: rgb(230,227,187);
	position:relative;
}

#line {
	margin-left: 3%;
	/*height: 50%;*/
	margin-top: 2%;
	position:relative;
}

#header ul {
	position:relative;
	/*margin-top:1%;*/
	margin-left:1%;
	display:inline-block;
	list-style:none;
	position:relative;
}

#header li {
	position:relative;
	/*margin-top:-10px;*/
	display:inline;
	margin:0 10px 0 10px;
	cursor:pointer;
	position:relative;
}

	#sign_out {
		background-color:rgba(142,68,35,0.8);
		border-color:rgba(142,68,35,0.8);
		border-radius:5px;
		cursor:pointer;
		/*height:25%;*/
		float:right;
		margin-right:2%;
		margin-left:2%;
		margin-top:2%;
		width: 14%;
		text-align:center;
	}
	
	#sign_in {
		background-color:rgba(39,42,45,0.9);
		border:solid 1px rgb(39,42,45);
		border-bottom-color:rgb(63,66,69);
		border-bottom-style:solid 1px;
		border-radius:5px;
		color:rgb(86,86,79);
		/*height:25%;*/
		float:right;
		margin-top:2%;
		width:18%;
		text-align:center;
	}


/*--------------------------------IMAGE------------------*/

	
#featured {
	margin-left: 25%;
	/*margin-right; 15%;*/
	position:relative;
	width: 100%;
}


/*-------------------------------------MAIN CONTENT------------------------------*/



#mainFlow {
	background: url(images/cont_back.png);
	background-size: 100% 100%;
	background-repeat: repeat-y; 
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	overflow:visible;
	color: #968b7f;
}

/*#title {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 50%;
	
}*/


#tit {
	margin-top: 0%;
	padding-top: 1%; 
	margin-right: 40%;
	margin-left: 42.5%;
	width: 16.5%;
	position:relative;
	 
}

#title {
	margin-bottom: 0%;
}

	
#title_img {
	margin-top: 4%;
	margin-left: 1%;
	width: 33.5%;
	/*float: left;
	clear: right;*/
	position:relative;
	margin-bottom: 0%;

}
	
#title_text {
	text-align:left;
	margin-left: 38%;
	/*clear: left;*/
	margin-top: -8%;
	position:relative;
	margin-bottom: 5%;
}
	
#title_text img{
	display: inline;
	position:relative;
	float:left;
	margin-right:2%;
}

#bold {
	font-size:large;
	
}

#sub {
	font-size: smaller;
}

#reg {
	margin-top: 10%;
}
	
/*-----------------------------------STEPS----------------------------*/


#steps {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 33.33%;
	text-align:center;
	margin-top: 0%;	
	margin-bottom: 0%;
	/*border: 1px solid;*/

}

#steps div{
	border-bottom: 0%;
}

#steps h2{
	
}

#learn {
	background-color: #2A1818;
	border-radius: 5px;
	color: #E6E3BB;
	width: 30%;
	/*align-self:center;
	align-items: center;*/
	text-align:center;
	align-content:center;
	margin-left: 35%;
}

#learn:hover {
	cursor:pointer;
}


#para {
	width:70%;
	margin-left:15%;
	position: relative;
	font-size:80%;
	margin-top: 0%;
	/*font-family: 'titilliumitalic' ,"Times New Roman";*/
}

/*#steps p{
	width:305;
	margin-left:35%;
}*/




/*--------------------------------------SLIDER-------------------------------------------------*/



#blocks {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 20%;
	margin-top: 0%;
	text-align: center;
	position: relative;
	/*background-image:url(images/slider_back.png);*/
	/*border: 1px solid;*/
	/*margin-bottom: -0%;*/
}

#blocks div{
	color: rgba(208,176,176,1.00);
	margin-top: -5%;
	margin-bottom: 10%;
	position:relative;
	/*border: 1px solid;*/
}

#blocks img{
	/*float: left;*/
	position: relative;
}

#_2 img{
	/*float: left;*/
}

#_1 {
	width: 40%;
	margin-left: 5%;
	position:relative;
}

#_1 img{
	margin-top: 65%;
	position:relative;
	
}

#_2 {
	width: 135%;
	position:relative;
}

#_3 {
	width: 135%;
	position:relative;
}

#_4 {
	width: 135%;
	position:relative;
}

#_5 {
	width: 40%;
	position:relative;
}

#_5 img{
	margin-top: 65%;
	margin-right: 5%;
	position:relative;
}

#_5 img:hover {
	cursor:pointer;
}

#_1 img:hover {
	cursor:pointer;
}

#slider {
	background-image:url(images/slider_back.png);
	background-repeat: no-repeat;
	background-size:100% 110%;
	margin-left:2.5%;
	margin-right: 2.5%;
	
	
}

#late {
	margin-left: 35%;
	padding-top: 150%;
	color: #FDFDFD;
	font-size:100%;
	position: relative;
	height: 20%;
}

#test {
	margin-left:5%;
	margin-top: 20%;
	color: #7A7B6D;
	font-size: 82%;
	position: relative;
}

#blog {
	margin-left:5%;
	margin-top: 5%;
	color: #7A7B6D;
	font-size: 82%;
	position: relative;
}

#slider #para {
	margin-top: 5%;
	font-size: 100%;
	color: #7A7B6D;
}

#slider #para:hover {
	color: #E6E3BB;
	cursor:pointer;
}







/*#slider_1 {
	width: 190%;
	margin-left: 5%;
}

#slider_2 {
	margin-left: 50%;
}

#slider_3 {
	margin-left: 60%;
}*/

#slid {
	width: 90%;
	margin-left: 5%;
}


/*-------------------------------TEXT-------------------------------------------*/


#cointainer {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 100%;
	/*height: 100%;*/
	position: relative;
	/*border: 4px solid;*/
	margin-top: 7%; /* 7% */
	
}

cointainer div{
	border: 1px solid;
	border-color: #FFFFFF;
	position:relative;
}

#cointainer h2{
	/*margin-bottom: -0%;*/
	/*border:1px solid;*/
}

#cointainer h4{
	/*margin-bottom: -0%;*/
}


#text {
	color: #7A7B6D;
	/*border:1px solid;*/
	width:50%;
	/*height:50%;*/
	position:relative;
	/*float:left;*/
}

#phar {
	margin-left: 5%;
	font-size: 130%;
	
}

#imgg {
	margin-left:5%;
	margin-top: 2%;
	float:right;
	
}

#text img{
	/*float:right;*/
}

#split {
	width:2%;
	position:relative;
	/*border: 1px solid;*/
	padding-left:0.5%;

}
#split img{
	height: 30%;
}

#para_2 {
	margin-left:5%;
	/*float:left;
	clear:right;*/
	width:72%;
	text-align:left;
	margin-top: 2%;
	/*font-family:inika;*/
	position:relative;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 95%;
}

#para_3 {
	margin-left: 5%;
	width: 95%;
	position:relative;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 95%
}


para_4 {
	position:relative;	
}

#text h3{
	margin-left: 5%;
}

#newsletter {
	width: 49%;
	position:relative;
	/*border:1px solid;*/
}

#newsletter #phar {
	margin-left: 0%;
}

#_area {
	width:230px;
	padding-top:1%;
	padding-left:5px;
	padding-right:0;
	margin-top:1%;
	margin-bottom: 2%;
	border-radius: 5px;
	background-color:rgb(40,43,45);
	border:1px solid rgb(104,104,94);
}
#_area input[type="email"]{
	color:rgb(95,95,86);
	background-color:rgba(0,0,0,0);
	border:solid 1px rgb(40,43,45);
}
#_area input[type="button"]{
	background:-webkit-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-o-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:-moz-linear-gradient(top,rgb(176,89,46),rgb(106,47,24));
	background:linear-gradient(to bottom,rgb(176,89,46),rgb(106,47,24));
	color:#fff;
	text-align:center;
	border:solid 1px rgba(0,0,0,0);
	border-radius:5px;
	position:relative;
	float:right;
}

#tweet {
	width:10%;
	margin-top: 2%;
	border:1px solid rgb(104,104,94);
	border-radius:5px;
}

#lat_tweet {
	width:80%;
	border:1px solid rgb(104,104,94);
	border-radius:5px;
	margin-top: -13%;
	position:relative;
	/*margin-top:-57px;*/
	margin-left: 13%;
}



/*--------------------------------FOOTER-----------------------------*/

#boxes {
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 100%;
	/*height: 20%;
	/*margin: 5% 0% 5% 0%;*/
	position:relative;
	/*border: 4px solid;*/
	margin-top: 3%
}

#boxes div{
	margin: 0% 2% 0% 2%;
	text-align:center;
	/*border: 1px solid;*/
}

#flickr {
	width: 30%;
}

#clients {
	width: 20%;
}

#frnds {
	width: 18%
}

#pages {
	width: 15%;
}

#boxes #flickr {
	text-align:left;
}


#frnds ul{
	position:relative;
	margin-top:3%;
	/*margin-left:2%;
	/*display:inline-block;*/
	list-style:none;
	text-align:center;
}

#pages ul{
	position:relative;
	margin-top:3%;
	/*margin-left:2%;*/
	/*display:inline-block;*/
	list-style:none;
	text-align:center;
}

#frnds li{
	position:relative;
	/*margin-top:-10px;*/
	display:list-item;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor:pointer;
}

#pages li{
	position:relative;
	/*margin-top:-10px;*/
	display:list-item;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor:pointer;
	margin-left: -2%;
}




/*---------------------------------------------FONTS----------------------------------------------------------*/

/



@font-face {
   font-family: 'titilliumitalic';
   src: url(../fonts/titillium-regularitalic-webfont.eot);
  src: local(☺), url(../fonts/titillium-regularitalic-webfont.eot?#iefix) format(embedded-opentype),
         url(../fonts/titillium-regularitalic-webfont.woff) format(woff),
         url(../fonts/titillium-regularitalic-webfont.ttf) format(truetype),
         url(../fonts/titillium-regularitalic-webfont.svg#titilliumitalic) format(svg);
  font-weight: normal;
  font-style: normal;
}





@font-face {
    font-family: 'titillium_bdbold';
    src: url(../fonts/titillium-bold-webfont.eot);
    src: local(☺), url(../fonts/titillium-bold-webfont.eot?#iefix) format(embedded-opentype),
         url(../fonts/titillium-bold-webfont.woff) format(woff),
         url(../fonts/titillium-bold-webfont.ttf) format(truetype),
         url(../fonts/titillium-bold-webfont.svg#titillium_bdbold) format(svg);
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_bdbold_italic';
    src: url(../fonts/titillium-bolditalic-webfont.eot);
    src: url(../fonts/titillium-bolditalic-webfont.eot?#iefix) format(embedded-opentype),
         url(../fonts/titillium-bolditalic-webfont.woff) format(woff),
         url(../fonts/titillium-bolditalic-webfont.ttf) format(truetype),
         url(../fonts/titillium-bolditalic-webfont.svg#titillium_bdbold_italic) format(svg);
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titilliumregular';
    src: url(../fonts/titillium-regular-webfont.eot);
    src: url(../fonts/titillium-regular-webfont.eot?#iefix) format(embedded-opentype),
         url(../fonts/titillium-regular-webfont.woff) format(woff),
         url(../fonts/titillium-regular-webfont.ttf) format(truetype),
         url(../fonts/titillium-regular-webfont.svg#titilliumregular) format(svg);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NikaiaRegular';
    src: url(Nikaia-webfont.eot);
    src: url('Nikaia-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nikaia-webfont.woff') format('woff'),
         url('Nikaia-webfont.ttf') format('truetype'),
         url('Nikaia-webfont.svg#NikaiaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'NikaiaRegularItalic';
    src: url('Nikaia_italic-webfont.eot');
    src: url('Nikaia_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nikaia_italic-webfont.woff') format('woff'),
         url('Nikaia_italic-webfont.ttf') format('truetype'),
         url('Nikaia_italic-webfont.svg#NikaiaRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'me';
	src:url(fonts/Nikaia-webfont.ttf) format(woff);
	src: url
}





.reg {
	font-family: 'titilliumregular', myraid;
}

.bol {
	font-family: 'titillium_bdbold';
	color: #804024;
}

.regitl {
	font-family: 'titilliumitalic';
}

.bolitl {
	font-family: 'titillium_bdbold_italic';
	color: #804024;
}


/*------------------------------------------FOOT NOTE-----------------------------------------*/

#foot_note {
	display:-webkit-box;
	display:-moz-box;
	display:-o-box;
	display:box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	box-orient: horizontal;
	width: 96%;
	/*border: 3px solid;*/
	margin-bottom: 3%;
	padding-bottom: 1.75%;
	padding-left: 2%;
	padding-right: 1%;
	color: #663300;
}



#copyright {
	width:50%;
	text-align:left;
}


#faq {
	width:50%;
	text-align: right;
}

#meg {
	margin: 0% 2% 0% 2%;
}

#faq span:hover {
	cursor:pointer;
}


